<a href="https://colab.research.google.com/github/hwasser95/myhw/blob/main/hw2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #1

Import the car data to github

Import it into a pandas dataframe

Assign the column names as [numDoors, numCylinders, mpgHighway, mpgStreets, currentMileage, avgMileagePerTuneUp, qualityRating]

Check for null values

Use the drive colab notebook "_2 Practice Problems, Regex, Simple ML Examples.ipynb" to run a kmeans clustering and find the centers if the data were divided into 4 categories.

We are given a new car with stats [2, 4, 500, 300, 150, 760, .6] find which cluster it belongs to

We are given a new car with stats [2, 3, 100, 900, 500, 45] with the qualityRating unknown.  Use SVM to find it's quality rating.  I suggest that you find a way to "bin" the quality ratings so that you have only a couple of categories instead of what is given, and only then do the SVM.

DATA: Blank_Car_Info.csvPreview the document

In [17]:
import pandas as pd
import matplotlib.pyplot as plt
column_names = ['numDoors', 'numCylinders', 'mpgHighway', 'mpgStreets', 'currentMileage', 'avgMileagePerTuneUp', 'qualityRating']
df = pd.read_csv("https://raw.githubusercontent.com/hwasser95/myhw/main/Blank_Car_Info.csv", header= None)
df.columns=column_names
print(len(df))
df.head(10)

1080

   numDoors  numCylinders  ...  avgMileagePerTuneUp  qualityRating
0         3             1  ...                  431       0.369963
1         1             2  ...                  934       0.754573
2         1             3  ...                  915       0.886215
3         2             3  ...                   10       0.971624
4         2             2  ...                   10       0.848398
5         1             2  ...                  699       0.804142
6         2             3  ...                  934       0.827383
7         4             4  ...                  451       0.167355
8         3             1  ...                  325       0.229756
9         3             1  ...                  325       0.242978

[10 rows x 7 columns]

In [18]:
#to check for null 
print(len(df))
df.head()
df.info()

1080
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   numDoors             1080 non-null   int64
 1   numCylinders         1080 non-null   int64
 2   mpgHighway           1080 non-null   int64
 3   mpgStreets           1080 non-null   int64
 4   currentMileage       1080 non-null   int64
 5   avgMileagePerTuneUp  1080 non-null   int64
 6   qualityRating        1080 non-null   float64
dtypes: float64(1), int64(6)
memory usage: 59.2 KB

Use the drive colab notebook "_2 Practice Problems, Regex, Simple ML Examples.ipynb" to run a kmeans clustering and find the centers if the data were divided into 4 categories.

In [19]:
#returns the center of where each cluster is

from sklearn.cluster import KMeans
import numpy as np


## Data (Work (h) / Salary ($))
X = df

## One-liner
kmeans = KMeans(n_clusters=4).fit(X)


## Result & puzzle
cc = kmeans.cluster_centers_
print(cc)

[[2.41981132e+00 2.42924528e+00 2.62971698e+01 2.72169811e+01
  2.48825472e+02 8.66966981e+02 5.46785990e-01]
 [2.34146341e+00 2.47560976e+00 2.70731707e+01 2.67682927e+01
  8.75695122e+02 8.72621951e+02 5.06455425e-01]
 [2.35379061e+00 2.37184116e+00 2.68772563e+01 2.58032491e+01
  2.52176895e+02 2.45373646e+02 5.06421092e-01]
 [2.26724138e+00 2.49137931e+00 2.61853448e+01 2.52155172e+01
  8.54737069e+02 2.34806034e+02 4.89035414e-01]]

We are given a new car with stats [2, 4, 500, 300, 150, 760, .6] find which cluster it belongs to

In [20]:
prediction = kmeans.predict(np.array([2, 4, 500, 300, 150, 760, .6]).reshape(-1,7))
print(prediction)

[0]

We are given a new car with stats [2, 3, 100, 900, 500, 45] with the qualityRating unknown.  Use SVM to find it's quality rating.  I suggest that you find a way to "bin" the quality ratings so that you have only a couple of categories instead of what is given, and only then do the SVM.

In [27]:
minz=np.min(df['qualityRating'])
maxz=np.max(df['qualityRating'])
ran = maxz - minz
ranz = ran/5
a = []
c=0
for i in  df['qualityRating']:
    if i>=minz and i<(minz+ranz):
     i = 1
     a.append(i)
    elif i>= minz+(ranz) and i < minz+(ranz*2):
     i = 2
     a.append(i)
    elif i>=minz+(ranz*2) and i< minz+(ranz*3):
     i = 3
     a.append(i)
    elif i>=(minz+(ranz*3)) and i< minz+(ranz*4):
     i = 4
     a.append(i)
    elif i>=(minz+(ranz*4)) and i<= (minz+(ranz*5)):
     i = 5
     a.append(i)
  
df['qualityRating']=a


     

  
print(df['qualityRating'])

0       2
1       4
2       5
3       5
4       5
       ..
1075    3
1076    3
1077    5
1078    5
1079    1
Name: qualityRating, Length: 1080, dtype: int64

We are given a new car with stats [2, 3, 100, 900, 500, 45] with the qualityRating unknown.

In [86]:
from sklearn import svm
X = df.drop(['qualityRating'],axis=1)
y = df['qualityRating']
clf = svm.SVC()
clf.fit(X, y)
z=np.array([2, 3, 100, 900, 500, 45]).reshape(1,-1)
prediction=clf.predict(z)
print(prediction)

[5]

# #2

In [7]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import pandas as pd 
import numpy as np

df1 = pd.read_csv("https://raw.githubusercontent.com/hwasser95/myhw/main/5%20stocks.csv")
df1[['Date']] = \
    df1[['Date']].apply(pd.to_datetime)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   datetime64[ns]
 1   At&t    1258 non-null   float64
 2   Xom     1258 non-null   float64
 3   BA      1258 non-null   float64
 4   Wmt     1258 non-null   float64
 5   Wix     1258 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 59.1 KB

In [8]:
df1.head(1258)

           Date       At&t        Xom          BA         Wmt         Wix
0    2016-03-04  37.930000  82.290001  121.070000   66.779999   20.030001
1    2016-03-07  38.130001  84.459999  122.900002   67.889999   20.629999
2    2016-03-08  38.090000  82.629997  122.349998   68.040001   19.590000
3    2016-03-09  37.980000  82.400002  122.860001   67.529999   19.980000
4    2016-03-10  38.310001  82.180000  122.940002   67.410004   20.180000
...         ...        ...        ...         ...         ...         ...
1253 2021-02-25  28.629999  55.759998  216.449997  131.949997  333.500000
1254 2021-02-26  27.889999  54.369999  212.009995  129.919998  348.570007
1255 2021-03-01  28.090000  56.400002  224.389999  131.369995  340.519989
1256 2021-03-02  28.219999  56.070000  223.139999  130.110001  342.940002
1257 2021-03-03  28.719999  56.520000  228.559998  127.589996  320.670013

[1258 rows x 6 columns]

Output the statistics for each column

In [9]:
df1.describe()

              At&t          Xom           BA          Wmt          Wix
count  1258.000000  1258.000000  1258.000000  1258.000000  1258.000000
mean     35.009825    72.272091   253.911502    98.362329   114.176073
std       4.399880    16.483230    94.066647    23.725119    74.826694
min      26.500000    31.450001    95.010002    63.150002    19.580000
25%      30.780001    68.529997   164.044998    76.012501    61.325000
50%      35.375000    79.235000   240.535003    96.090000    97.244999
75%      38.577501    82.937502   346.864998   117.160004   137.209999
max      43.470001    95.120003   440.619995   152.789993   353.089996

Output the covariance and correlation matrices

In [10]:
df1.cov(min_periods=len(df1))

            At&t          Xom           BA          Wmt          Wix
At&t   19.358940    48.821432  -108.322991   -72.495321  -236.878013
Xom    48.821432   271.696855   259.184384  -339.807660 -1060.760358
BA   -108.322991   259.184384  8848.533995   404.800506   211.344527
Wmt   -72.495321  -339.807660   404.800506   562.881288  1584.346505
Wix  -236.878013 -1060.760358   211.344527  1584.346505  5599.034110

In [11]:
df1.corr()

          At&t       Xom        BA       Wmt       Wix
At&t  1.000000  0.673174 -0.261724 -0.694482 -0.719494
Xom   0.673174  1.000000  0.167159 -0.868925 -0.860040
BA   -0.261724  0.167159  1.000000  0.181383  0.030026
Wmt  -0.694482 -0.868925  0.181383  1.000000  0.892453
Wix  -0.719494 -0.860040  0.030026  0.892453  1.000000

In [12]:
from sklearn.linear_model import LinearRegression
import seaborn as sns
stockPrices = df1['Wmt']
days = df1['Date']
n = len(days)


model = LinearRegression().fit(np.arange(n).reshape((n,1)), stockPrices)
print(model.predict([[n],[n + 1], [n + 2], [n + 3], [n + 4]]))

[137.65443949 137.71685745 137.77927542 137.84169339 137.90411135]

Change the data so that it is represented as a log percentage gain from the previous day. (The formula would be log[(day_1)/(day_0)]

In [13]:
obj = df1.drop('Date',axis = 1)
obj2=obj.drop(index=0)
obj2=obj2.reset_index()
obj2=obj2.drop('index',axis=1)
a=obj2/obj
b=np.log10(a)


print(b)

          At&t       Xom        BA       Wmt       Wix
0     0.002284  0.011304  0.006515  0.007159  0.012818
1    -0.000456 -0.009513 -0.001948  0.000959 -0.022465
2    -0.001256 -0.001211  0.001807 -0.003268  0.008561
3     0.003757 -0.001161  0.000283 -0.000772  0.004326
4     0.000566  0.000053  0.005929 -0.001549  0.010419
...        ...       ...       ...       ...       ...
1253 -0.011373 -0.010963 -0.009001 -0.006733  0.019194
1254  0.003103  0.015920  0.024647  0.004820 -0.010147
1255  0.002005 -0.002549 -0.002426 -0.004186  0.003076
1256  0.007627  0.003472  0.010423 -0.008494 -0.029160
1257       NaN       NaN       NaN       NaN       NaN

[1258 rows x 5 columns]